[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
internetarchive = "*"
jupyter = "*"
pandas = "*"
matplotlib = "*"
warcio = "*"
findspark = "*"
beautifulsoup4 = "*"
ua-parser = "*"
altair = "*"
vega = "*"
vega-datasets = "*"
notebook = "*"
scipy = "*"
tldextract = "*"
html2text = "*"
bleach = "*"
readability-lxml = "*"

[dev-packages]

[requires]
