[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
internetarchive = "*"
jupyter = "*"
pandas = "*"
matplotlib = "*"
warcio = "*"
findspark = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
